<div class="follow">
    <nav class="panel">
        <p class="panel-heading">Who to Follow</p>
    </nav>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="img-fluid">
                    <img src="https://via.placeholder.com/65" class="img-circle">
                </figure>
            </div>
            <div class="media-content">
                <div class="content-follow">
                    <p style="font-weight: bold;">John Smith</b></p>
                    <p style="font-size: small;"><small>@johnsmith</small></p>
                </div>
            </div>
        </article>
    </div>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="img-fluid">
                    <img src="https://via.placeholder.com/65" class="img-circle">
                </figure>
            </div>
            <div class="media-content">
                <div class="content-follow">
                    <p>
                    <p style="font-weight: bold;">John Doe</b></p>
                    <p style="font-size: small;"><small>@johndoe</small></p>
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="img-fluid">
                    <img src="https://via.placeholder.com/65" class="img-circle">
                </figure>
            </div>
            <div class="media-content">
                <div class="content-follow">
                    <p>
                    <p style="font-weight: bold;">Jane Doe</b></p>
                    <p style="font-size: small;"><small>@janedoe</small></p>
                    </p>
                </div>
            </div>
        </article>
    </div>
</div>